*.o
*.so
linux*Opt/
linux*Debug/
Make/linux*
postProcessing/
processor*/
log.*
[1-9]*/
0.[0-9]*/
!0/
*.pyc
__pycache__/
.DS_Store
# release archives (GitHub and Zenodo build these from the tag)
*.zip
*.tar.gz
